:root{
  --theme_orng:rgb(211,88,69);
  --theme_blue: rgb(25,76,136);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mobile_view {
  width: 90vw;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.link {
  color: var(--theme_orng);
}
.link:hover{
  color: var(--theme_blue);
  cursor: pointer;
}

.bold{
  font-weight: bold;
}

.nav {
  position: relative;
  width: 100%;
  height: 70px;
}
.navhome {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.navprof {
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: 0px;
  color: var(--theme_orng)
}
.navprof:hover{ 
  cursor:pointer;
  color: var(--theme_blue);
  transition: .5s;
}

.postbox {
  width: 80%;
  height: 100px;
  margin: auto;
  border-radius: 7px;
  border-color: var(--theme_blue);
}

.postbox:focus {
  outline: none;
}

.post {
  width: 80%;
  margin: auto;
  padding: 15px;
  background-image: linear-gradient(var(--theme_blue), var(--theme_orng));
  color: white !important;
  border: none;
  border-radius: 7px;
}
.postlink {
  color: white;
}
.postlink:hover{
  cursor: pointer;
  color: lightgray;
  text-decoration: none;
}